target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/main/resources/META-INF/MANIFEST.MF
/src/main/java/aemo/api_testing/Test.js
/out/artifacts/Current/WattBroker.jar
/out/artifacts/LAUNCHER/WattBroker.jar
/out/artifacts/Login_/WattBroker.jar
/out/artifacts/Login_jar/WattBroker.jar
/out/artifacts/Next_current/WattBroker.jar
/out/artifacts/WattBroker_jar/WattBroker.jar
/out/artifacts/LAUNCHER/WattBroker.jar.save
/test/WattBroker.run.xml
